$primary-color: #A00000;
$second-color: #202020;
$text-color: black;

$font-main: 'Roboto', sans-serif !important;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
